<div class="flex flex-wrap -mx-1 lg:-mx-4 ">
    <div *ngFor="let movie of completeMovieList" class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3 select-none">
        <article class="overflow-hidden rounded-lg shadow-lg">

            <a class="cursor-pointer">
                <img alt="Placeholder" class="block h-auto w-full"
                    [src]=" 'https://image.tmdb.org/t/p/w500' + movie.poster_path" (error)="handleImageError($event)">
            </a>

            <header class="leading-tight p-2 md:p-4">
                <h1 class="text-lg">
                    <a class="no-underline hover:underline text-black cursor-pointer">
                        {{movie.title}}
                    </a>
                </h1>
                <p class="text-grey-darker text-lg text-blue-800 my-5 cursor-pointer">
                    {{movie.release_date}}
                </p>
            </header>

            <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                <span class="flex items-center no-underline text-black cursor-pointer">
                    <img alt="Placeholder" class="block rounded-full h-14 w-14"
                        [src]="'https://image.tmdb.org/t/p/w500'+ movie.backdrop_path"
                        (error)="handleImageError($event)">
                    <p class="ml-5 text-xl text-red-600 hover:underline">
                        {{movie.vote_average | number:'1.2-2'}}
                    </p>
                </span>
                <a class="no-underline text-grey-darker hover:text-red-dark heart cursor-pointer">
                    <span class="hidden">Like</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#bfabbd" viewBox="0 0 256 256">
                        <path
                            d="M240,94c0,70-103.79,126.66-108.21,129a8,8,0,0,1-7.58,0C119.79,220.66,16,164,16,94A62.07,62.07,0,0,1,78,32c20.65,0,38.73,8.88,50,23.89C139.27,40.88,157.35,32,178,32A62.07,62.07,0,0,1,240,94Z">
                        </path>
                    </svg>
                </a>
            </footer>
        </article>
    </div>
</div>


<!-- <img src="https://i.ibb.co/6BHp0W8/broken-img.jpg" alt="broken-img" > -->